<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <legend>New Message</legend>
      <label for="username"
        >User:
        <input type="text" id="username" name="username" />
      </label>
      <label for="text"
        >Message:
        <input type="text" id="text" name="text" />
      </label>
      <input type="submit" value="ADD" />
    </form>
    <a href="/"><button>CANCEL</button></a>
  </body>
</html>
