<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Messages</h1>
    <a href="/new">New message</a>
    <a href="/delete">Delete all messages</a>
    <% if(locals.messages){%>
    <ul>
      <% messages.forEach(message => {%>
      <li>
        <%- include('message', {username: message.username, date: message.date,
        text: message.text, id: message.id}) %>
      </li>
      <% }) %>
    </ul>
    <%} else{%>
    <p>No messages found.</p>
    <%}%>
  </body>
</html>
