<html>
  <head>
    <title>Message Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <a href="/"><button>BACK</button></a>
    <h2><%= username %></h2>
    <p><%= date %></p>
    <p><%= text %></p>
  </body>
</html>
